  table {
    margin: 20px auto;
    border-collapse: collapse;
  }

  .header {
    background-color: #546FAB;
  }

  .days{
    background-color: #549AAB;
  }

  th, td {
    border: 1px solid gray;
    padding: 15px;
    font-size: 20px;
    text-align: center;
  }

  .today {
    background-color: #54AB90;
    color: white;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:link, a:visited {
    color: none;
  }

  a:hover{
    color: white;
  }